* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
}
